main>.container {
    padding: 80px 15px 20px;
}

.iconify {
    width: 3rem;
    height: 3rem;
    margin: 1em;
}

.sunsetGradient {
    background: hsla(17, 85%, 74%, 1);

    background: linear-gradient(90deg, hsla(17, 85%, 74%, 1) 0%, hsla(290, 71%, 28%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(17, 85%, 74%, 1) 0%, hsla(290, 71%, 28%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(17, 85%, 74%, 1) 0%, hsla(290, 71%, 28%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F5A282", endColorstr="#6A157B", GradientType=1);

    background-repeat: no-repeat;

    background-attachment: fixed;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.background-color {
    background-color: #6a157b;
    color: #f5a282
}

.background-color:hover {
    background-color: #f5a282;
    color: #6a157b;
}